:root 
{
  --main-color: #6180b0;
  --background-color-light:#ffffff;
  --background-color-mid: #fafafa;
  --background-color-dark: #eef0ef;
  --showdow-color:#a7a7a7;
  --border-color:#c7c7c7;
  --button-color-dark:#da5452;
  --button-color-light:#ee6922;
}
body
{
	background-color: #fafafa;
}
header
{
	height: 58px;
	width: 100%;
	background-color: var(--main-color);
	position: fixed;
	top:0;
	z-index: 1;
}
.headerBar
{
	height: 100%;
}
.logo
{
	height: 30px;
}
.inputBar
{
	padding: 7px 10px;
	width: 400px;
	border: none;
	font-size: 0.9rem;
}
.searchIconContainer
{
	background-color: var(--background-color-dark);
	padding: 8px 12px 7px 12px;
}
.searchIcon
{
	width: 20px;
}
.topIcon
{
	width: 30px;
	margin-left: 15px;
}
main
{
	margin-top: 58px;
}
.topPro
{
	width: 100%;
}
.filterBar
{
	background-color: var(--background-color-light);
	box-shadow: 0px 2px 4px 1px var(--showdow-color);
	padding: 10px 10px;
	margin-top: 20px;
}
.type
{
	border: 0;
	font-size: 1rem;
	font-weight: bold;
}
.filterContainer, .resetContainer, .sortContainer
{
	margin-left: 20px;
}
.categoryMenu
{
	outline-style: solid;
  	outline-width: thin;
  	outline-color: var(--border-color);
	font-size: 0.9rem;
	padding: 8px 10px;
	position: relative;
	background-color: var(--background-color-light);
}
.categoryDropDown
{
	position: absolute;
	width: 100%;
	left: 0;
	top: 100%;
	background-color: var(--main-color);
	justify-content: center;
	padding: 5px 0 15px 0;
	display: none;
}
.categoryCheckbox
{
	padding: 5px 10px;
}
.categoryMenu:hover .categoryDropDown
{
	display: flex;
	z-index: 1;
}
.categoryMenu:hover
{
	outline: none;
	background-color: var(--main-color);
	color: var(--background-color-light);
	font-weight: 500;
}
.form-control
{
	border: var(--border-color) solid 1px;
	background-color: white;
	font-size: 0.9rem;	
}
.reset
{
	background-color: var(--button-color-dark);
	color: var(--background-color-light);
	padding: 7px 20px;
}
.productList
{
	margin-top: 30px;
}
.productInnerContainer
{
	box-shadow: 0px 2px 4px 1px var(--showdow-color);
	background-color: var(--background-color-light);
	margin-bottom: 30px;
}
.productPic
{
	width: 100%;
	padding: 25px;
}
.name
{
	text-align: center;
	font-size: 0.75rem;
	font-weight: 600;
	margin-top: 5px;
}
.price
{
	background-color: var(--button-color-light);
	color: var(--background-color-light);
	font-family: 'Oswald';
	margin:20px 25px;
	text-align: center;
	padding: 8px 0;
}
.search_white
{
	display: none;
}
@media (max-width:1000px)
{
	.inputBar
	{
		width: 300px;
	}
	.categoryMenu
	{
		font-size: 0.85rem;
		padding: 5px 10px;
	}
	select.form-control:not([size]):not([multiple]) 
	{
	    height: 34px;
	}
	.reset
	{
		padding: 6px 20px;
		font-size: 0.8rem;
	}
	.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto
	{
	    padding-right: 10px;
	    padding-left: 10px;
	}
	.productPic
	{
		padding: 15px;
	}
	.price
	{
		margin:15px 20px;
		font-size: 0.9rem;
		padding: 6px 0;
	}
}
@media (max-width:850px)
{
	.search_white
	{
		display: flex;
	}
	.inputBar, .searchIconContainer
	{
		display: none;
	}
}